/* 页面的内容区域部分 */
.app_content{
    width: 90vw;
    margin: 0 auto;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.app_tabbar{
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0px;
    display: flex;
}
/* 底部的四个小块 */
.tabbar_item{
    flex: 1;
    /* border: 1px solid black; */
}
.tabbar_item{
    text-align: center;
    padding-top: 5px;
}
.tabbar_item div{
    height: 10px;
}
.tabbar_item div img{
    width: 30%;
}

/* 四个模块区域 */
.app_content>div{
    width: 100%;
    height: 100%;
    display: none;
}
.app_content>div:nth-child(1){
    display: block;
}

/* 首页的样式 */
/* 首页搜索区域的样式 */
.shouye_wrap .search_warp{
    border: 1px solid red;
}
.search_warp .search_img{
    width: 26px;
    height: 26px;
    vertical-align: middle;
}
.search_warp .search_input{
    width: 80%;
    height: 26px;
    border: 0px solid blue;
    border-radius: 20px;
}

/* 首页轮播区域的样式 */
.shouye_wrap .lunbo_wrap{
    width: 100%;
    border: 1px solid gold;
}
.lunbo_wrap .lunbo_imgs{
    width: 100%;
}
.lunbo_imgs .lunbo_img{
    width: 100%;
}
.lunbo_wrap .lunbo_title{
    padding-top: 10px;
    width: 100%;
}
.lunbo_wrap .lunbo_title span{
    margin-left: 5px;
}

/* 首页列表区域的样式 */
.shouye_wrap .list_wrap{
    
}


