/* 页面的内容区域部分 */
.app_content{
    width: 100vw;
    background-color: rebeccapurple;
}
.app_tabbar{
    width: 100vw;
    height: 60px;
    background-color: lightgoldenrodyellow;
    position: fixed;
    bottom: 0px;
}